/* You can add global styles to this file, and also import other style files */
form.student-form {
    background-color: #dbdbdb;
    border-radius: 4px;
    padding: 10px;
}

div.validation-error{
    color:#ff0000;
    text-align: center;
}

button:hover,a.btn:hover{
    cursor : pointer
}